#map-canvas {
  width: 100% !important;
  height: 85vh !important;
  z-index: 1;
  margin-bottom: 0;
}

.control {
  position: absolute;
  z-index: 2;
  width: 35px;
}

.control.tilt {
	margin-left: 10px;
  margin-top:10px;
}

.control.tilt button {
  font-weight: normal;
}

.control.rotation {
	margin-left: 10px;
  margin-top: 90px;
}

.control.rotation button {
  font-weight: normal;
}
.control.zoom {
	margin-left: 10px;
  margin-top: 170px;
}

.control.zoom button {
  font-weight: normal;
}

.control button {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px;
  color: rgb(86, 86, 86);
  font-size: 11px;
  position: absolute;
}

.tooltip {
    width: 100px;
}

#info-box {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px;
  color: rgb(86, 86, 86);
  font-family: Roboto, Arial, sans-serif;
  font-size: 11px;
  margin-top: 10px;
  margin-left: 100px;
  padding: 8px;
  position: absolute;
}