#map-canvas {
  width: 100% !important;
  height: 100vh !important;
  z-index: 1;
  margin-bottom: 0;
}

.control {
  position: absolute;
  z-index: 2;
  width: 35px;
}

.control.tilt {
	margin-left: 10px;
  margin-top: 70px;
}

.control.tilt button {
  font-weight: normal;
}

.control.rotation {
	margin-left: 10px;
  margin-top: 140px;
}

.control.rotation button {
  font-weight: normal;
}
.control.zoom {
	margin-left: 10px;
  margin-top: 210px;
}

.control.zoom button {
  font-weight: normal;
}

.control button {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px;
  color: rgb(86, 86, 86);
  font-size: 11px;
  position: absolute;
}

.tooltip {
    width: 100px;
    z-index: 3;
}

#login-box {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px;
  color: rgb(86, 86, 86);
  font-size: 13px;
  margin-top: 280px;
  margin-left: 10px;
  padding: 8px;
  position: absolute;
  z-index: 2;
}

#name-box {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px;
  color: rgb(86, 86, 86);
  font-size: 15px;
/*  margin-top: 10px;
  left: 40%;*/
  padding: 8px;
  position: absolute;
  z-index: 2;
  display: inline-block;  
  text-align: center;
}

#search-box {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px;
  color: rgb(86, 86, 86);
  font-size: 15px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 8px;
  position: absolute;
  z-index: 2;
  height: 50px;
  width: 450px;
}